.q-dialog
  &__backdrop
    backdrop-filter: blur(8px)
    background: rgba(32, 36, 39, 0.30)
  &__inner > div
    border-radius: 24px
    backdrop-filter: blur(48px)
    background: rgba(35, 39, 43, 0.70)
    box-shadow: none
    border: 1px solid var(--color-dark-primary)