@font-face
  font-family: 'Nunito'
  src: url('../assets/fonts/Nunito-Regular.ttf') format("truetype")
  font-weight: normal

@font-face
  font-family: 'Nunito'
  src: url('../assets/fonts/Nunito-ExtraBold.ttf') format("truetype")
  font-weight: 900

html
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  box-sizing: border-box
  margin: 0
  padding: 0

span, p, strong, small, h1, h2, h3, h4, h5
  font-family: 'Nunito'

body
  width: 100%
  min-width: 320px
  min-height: 100vh
  margin: 0 !important
  padding: 0
  background: var(--color-background)

button
  cursor: pointer

a
  color: inherit
  text-decoration: none

::-webkit-scrollbar
  @apply rounded-full w-1

::-webkit-scrollbar-track
  @apply rounded-full bg-gray-500

::-webkit-scrollbar-thumb
  @apply rounded-full bg-gray-400

::-webkit-scrollbar-thumb:hover
  @apply bg-opacity-70