@import 'transitions'

@import 'quasar/index'

*
  box-sizing: border-box !important
  font-synthesis: none
  font-family: 'Nunito'
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-text-size-adjust: 100%

body
  width: 100%
  min-width: 320px
  margin: 0
  padding: 0
  background: var(--color-white)

button
  cursor: pointer

a
  color: inherit
  text-decoration: none

.swiper, .swiper-wrapper
  z-index: 0 !important

::-webkit-scrollbar
  @apply rounded-full w-1

::-webkit-scrollbar-track
  @apply rounded-full bg-gray-500

::-webkit-scrollbar-thumb
  @apply rounded-full bg-gray-400

::-webkit-scrollbar-thumb:hover
  @apply bg-opacity-70